<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ペンギンはいいぞ。">
    <title>推しペン総選挙振り返り祭り</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/side-menu.css">
        <!--<![endif]-->
<script async src="//www.instagram.com/embed.js"></script>
</head>
<body>

    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
    
        <div id="menu">
            <penguin-list :title="title" :desc="desc" :edocco_member="edocco_member" :miyacco_member="miyacco_member"
                :target="target" v-on:chart="DrawPenguinChart" v-on:reset="ResetData" v-on:myrank="GetRank"></penguin-list>
        </div>
    
        <div id="main">
            <div class="header">
                <h1 v-cloak>{{title}}</h1>
                <p v-cloak>{{desc}}</p>
            </div>
    
            <div class="content">
                <div id="PenguinChart">
                    <transition>
                        <h2 v-if="penguin_name!==''" v-bind:class="target" v-cloak>
                            {{penguin_name}}&nbsp;<small>{{penguin_catch}}</small>
                        </h2>
                    </transition>
                    <div v-show="target===''">
                        <div id="total_chart"></div>
                        <table class="total_tbl pure-table">
                            <thead>
                                <tr>
                                    <th>ペンギン名</th>
                                    <th>水族館名</th>
                                    <th>フォロワー数</th>
                                    <th>ページ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>はっぴ</td>
                                    <td>すみだ水族館</td>
                                    <td>1555</td>
                                    <td><a href="https://www.instagram.com/happi_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>たいこ</td>
                                    <td>すみだ水族館</td>
                                    <td>1245</td>
                                    <td><a href="https://www.instagram.com/taiko_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>まつり</td>
                                    <td>すみだ水族館</td>
                                    <td>1236</td>
                                    <td><a href="https://www.instagram.com/matsuri_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>きりこ</td>
                                    <td>すみだ水族館</td>
                                    <td>1174</td>
                                    <td><a href="https://www.instagram.com/kiriko_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>ちょうちん</td>
                                    <td>すみだ水族館</td>
                                    <td>1147</td>
                                    <td><a href="https://www.instagram.com/chouchin_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>ふうりん</td>
                                    <td>すみだ水族館</td>
                                    <td>960</td>
                                    <td><a href="https://www.instagram.com/fuurin_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>はなび</td>
                                    <td>すみだ水族館</td>
                                    <td>945</td>
                                    <td><a href="https://www.instagram.com/hanabi_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>わっしょい</td>
                                    <td>すみだ水族館</td>
                                    <td>928</td>
                                    <td><a href="https://www.instagram.com/wasshoi_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>まる</td>
                                    <td>京都水族館</td>
                                    <td>805</td>
                                    <td><a href="https://www.instagram.com/maru_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>しんまち</td>
                                    <td>京都水族館</td>
                                    <td>705</td>
                                    <td><a href="https://www.instagram.com/shinmachi_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>あずま</td>
                                    <td>すみだ水族館</td>
                                    <td>681</td>
                                    <td><a href="https://www.instagram.com/azuma_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>せん</td>
                                    <td>京都水族館</td>
                                    <td>637</td>
                                    <td><a href="https://www.instagram.com/sen_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>あんこ</td>
                                    <td>すみだ水族館</td>
                                    <td>575</td>
                                    <td><a href="https://www.instagram.com/anko_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>たけ</td>
                                    <td>京都水族館</td>
                                    <td>545</td>
                                    <td><a href="https://www.instagram.com/take_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>あんみつ</td>
                                    <td>すみだ水族館</td>
                                    <td>526</td>
                                    <td><a href="https://www.instagram.com/anmitsu_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>てら</td>
                                    <td>京都水族館</td>
                                    <td>462</td>
                                    <td><a href="https://www.instagram.com/tera_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>しじょう</td>
                                    <td>京都水族館</td>
                                    <td>449</td>
                                    <td><a href="https://www.instagram.com/shijo_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>しちじょう</td>
                                    <td>京都水族館</td>
                                    <td>431</td>
                                    <td><a href="https://www.instagram.com/shichijo_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>おっしー</td>
                                    <td>京都水族館</td>
                                    <td>426</td>
                                    <td><a href="https://www.instagram.com/osshi_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>あや</td>
                                    <td>京都水族館</td>
                                    <td>417</td>
                                    <td><a href="https://www.instagram.com/aya_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>はち</td>
                                    <td>京都水族館</td>
                                    <td>409</td>
                                    <td><a href="https://www.instagram.com/hachi_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                                <tr>
                                    <td>あね</td>
                                    <td>京都水族館</td>
                                    <td>372</td>
                                    <td><a href="https://www.instagram.com/ane_oshipen" target="_blank"><i class="fab fa-instagram"></i></td>
                                </tr>
                           </tbody>
                        </table>
                        <div>
                            <p>※データが抜けている場合があります。</p>
                            <p>計測期間は2018/10/10～11/22です。</p>
                        </div>
                    </div>
                    <div v-show="target==='edocco'">
                        <edocco-top v-show="penguin_name===''"></edocco-top>
                        <div class="penguin_desc">
                            <p v-show="target_rank!==''" v-cloak><b>公式 総合順位：</b><span>{{target_rank}}位</span> /11羽</p>
                            <p v-show="target_insta_rank!==''" v-cloak><b>Instaフォロワー数順位：</b><span>{{target_insta_rank}}位</span> /22羽</p>
                        </div>
                    </div>
                    <div v-show="target==='miyacco'">
                        <miyacco-top v-show="penguin_name===''"></miyacco-top>
                        <div class="penguin_desc">
                            <p v-show="target_rank!==''" v-cloak><b>公式 総合順位：</b><span>{{target_rank}}位</span> /11羽</p>
                            <p v-show="target_insta_rank!==''" v-cloak><b>Instaフォロワー数順位：</b><span>{{target_insta_rank}}位</span> /22羽</p>
                        </div>
                    </div>
                </div>
                <div v-if="penguin_name!==''" id="chart"></div>
            </div>
        </div>
    </div>



<!-- Load vue -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
<script src="components/AppMenu.js"></script>
<script src="components/Edocco.js"></script>
<script src="components/Miyacco.js"></script>
<script src="app.js"></script>

<script src="js/ui.js"></script>

<!-- Load c3.css -->
<link href="css/c3.css" rel="stylesheet">
<link href="css/c3_custom.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="js/d3-5.4.0.min.js" charset="utf-8"></script>
<script src="js/c3.min.js"></script>

</body>
</html>
