@charset "UTF-8";

body{
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.oshipen{
  width: 100%;
  box-sizing: border-box;
}

.rbn2 {
  display: block;
  position: relative;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  padding: 7px 0;
  background: #6a93df;
  color: #FFF;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin-top: 20px;

}

.rbn2 h2 {
  vertical-align: middle;
  margin: 0;
  /* padding: 5px 30px; */
  border-top: solid 2px rgba(255, 255, 255, 0.2);
  border-bottom: solid 2px rgba(255, 255, 255, 0.2);
  line-height: 1.4;
}

.rbn2:before, .rbn2:after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.rbn2:before{
  top: -1px;
  left: -2px;
  border-width: 43px 0px 43px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.rbn2:after{
  top: -1px;
  right: -2px;
  border-width: 43px 15px 43px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.mb_20{
  margin-bottom: 20px;
}

.wrap{
  width: 800px;
	margin:  0 auto; 
}

.check_date{
  text-align: center;
  margin-bottom: 20px;
}

.ranking_s{
  border-top:1px solid #ccc;
  width: 800px;
	margin:  0 auto;
}

.ranking_s .box{
	padding:10px 10px 20px;
	border-bottom:1px solid #ccc;
	position:relative;
	padding-left:40px;
	min-height:100px;
}

.ranking_s .box a{
	text-decoration:none !important;	
	color:inherit !important;
}

.ranking_s .box:before{
	content: "1";
	display: inline-block;
	color: #fff;
	width: 40px;
	height: 30px;
	background-image:url("img/rank_icon1.svg");
	background-size: 40px 30px;
	position:absolute;
	background-repeat:no-repeat;
	left: 0;
	top: 10px;
	padding: 5px 15px;
	font-weight: bold;
}

.ranking_s .box:nth-of-type(2):before{
	content: "2";
	background-image:url("img/rank_icon2.svg");
}

.ranking_s .box:nth-of-type(3):before{
	content: "3";
	background-image:url("img/rank_icon3.svg");
}

.ranking_s .box:nth-of-type(n + 4):before{
  padding: 2px 15px;
	background-image:url("img/rank_icon4.svg");
}

.ranking_s .box:nth-of-type(n + 10):before{
  padding: 2px 10px;
	background-image:url("img/rank_icon4.svg");
}

.ranking_s .box:nth-of-type(4):before{	content: "4"; }
.ranking_s .box:nth-of-type(5):before{  content: "5"; }
.ranking_s .box:nth-of-type(6):before{  content: "6"; }
.ranking_s .box:nth-of-type(7):before{	content: "7"; }
.ranking_s .box:nth-of-type(8):before{  content: "8"; }
.ranking_s .box:nth-of-type(9):before{  content: "9"; }
.ranking_s .box:nth-of-type(10):before{  content: "10"; }
.ranking_s .box:nth-of-type(11):before{  content: "11"; }
.ranking_s .box:nth-of-type(12):before{  content: "12"; }
.ranking_s .box:nth-of-type(13):before{  content: "13"; }
.ranking_s .box:nth-of-type(14):before{  content: "14"; }
.ranking_s .box:nth-of-type(15):before{  content: "15"; }
.ranking_s .box:nth-of-type(16):before{  content: "16"; }
.ranking_s .box:nth-of-type(17):before{  content: "17"; }
.ranking_s .box:nth-of-type(18):before{  content: "18"; }
.ranking_s .box:nth-of-type(19):before{  content: "19"; }
.ranking_s .box:nth-of-type(20):before{  content: "20"; }
.ranking_s .box:nth-of-type(21):before{  content: "21"; }
.ranking_s .box:nth-of-type(22):before{  content: "22"; }



.ranking_s .box .img{
	width:90px;
	float:left;
}

.ranking_s .box .img img{
	width:100%;
	vertical-align:bottom;
}

.Header{
  display: none!important;
}

.Header {
  display: none;
}

.Embed > div.Header{
  display: none;
}

.Embed > div.Header,
.Embed > div.Feedback,
.Embed > div.SocialProof,
.Embed > div.Caption,
.Embed > div.Footer{
  display: none;
}

img.EmbeddedMediaImage{
  width: 100px;
  height: auto;
}

.ranking_s .box .txt{
	margin-left:120px;
	line-height:1.4;
	padding-right:10px;
}

.ranking_s .box .txt .catch{
	font-size:87%;
	font-weight:normal;
}

.ranking_s .box .txt .name{
	font-weight:bold;
	font-size:120%;
}

.ranking_s .box .txt .bikou{
	font-size:87%;
	font-weight:normal;
	color:#999;
}

.ranking_s .box:after{
	content:'\f105';
	font-family:FontAwesome;
	display:inline-block;
	position:absolute;
	right:10px;
	top:50%;
	color:#ccc;
	margin-top:-10px;
}

.ranking_s .box:hover{
	opacity:0.6;
	cursor:pointer;
}

.transition {
  margin: 10px 0 0;
}

.transition .t_arrow,
.transition .t_comment{
  display: inline-block;
  width: calc(100% / 2);
  height: 15px;
  float: left;
  border: 1px solid #2CCCC1;
  color: #2CCCC1;
  font-size: 0.8%;
  text-align: center;
  box-sizing: border-box;
}

.transition .t_comment{
    background-color:#2CCCC1;
    color: #fff;
    font-weight: normal;
}

.transition.up .t_arrow{
  border: 1px solid #F43C6D;
  color: #F43C6D;
}

.transition.up .t_comment{
    border: 1px solid #F43C6D;
    background-color:#F43C6D;
}

.transition.down .t_arrow{
  border: 1px solid #A3A3A3;
  color: #A3A3A3;
}

.transition.down .t_comment{
    border: 1px solid #A3A3A3;
    background-color:#A3A3A3;
}

.transition .t_arrow:before{
  content: '\f061';
  font-family: FontAwesome; 
  display:block;
}
  
.transition .t_comment:before{
  content: 'KEEP';
  display:block;
}

.transition.down .t_arrow:before{
  content: '\f063';
  font-family: FontAwesome; 
  font-weight: bold; 
}
  
.transition.down .t_comment:before{
  content: 'DOWN';
}

.transition.up .t_arrow:before{
  content: '\f062';
  font-family: FontAwesome;
  font-weight: bold;
}
  
.transition.up .t_comment:before{
  content: 'UP';
}

.iine{
  font-weight: bold;
  color: #6a93df;
}

.iine small{
  font-weight: normal;
  color: #666; 
  font-size: 0.6rem;
}

@media screen and (max-width: 640px) {
  .rbn2 h2{
    font-size: 1.3rem;
  }


  .rbn2:before{
    border-width: 43px 0px 43px 15px;
  }

  .rbn2:after{
    border-width: 43px 15px 43px 0px;
  }

  .check_date{
    margin-bottom: 50px;
    font-size: 0.8rem;
  }

  .wrap{
    width: 100%;
    padding: 0 10px;
    margin:  10px auto;
  }
  
  .ranking_s{
    border-top:1px solid #ccc;
    width: 100%;
    margin:  0 auto;
  }

  .ranking_s .box .img{
    /* float: none; */
  }

}