/* Custom */

[v-cloak] { display: none; }

/* Animation */
.v-enter-active {
  transition: opacity 1s;
}
.v-enter {
  opacity: 0;
}
/* Animation End */

#menu .pure-menu-heading.home{
    background-color: #fff;
    color: #666;
}

#menu .pure-menu-heading.edocco{
    background-color: rgb(218, 178, 77);
}

#menu .pure-menu-heading.miyacco{
    background-color: #A75AC4;
}

/*
Penguin-Image
*/
#team_edocco,
#team_miyacco  {
    overflow: hidden;
}

#team_edocco ul,
#team_miyacco ul{
    margin:0;
    padding:0;
    display: block;
    height:auto;
}

#team_edocco ul li,
#team_miyacco ul li {
    width: 30%;
    max-height: 350px;
    display:flex;
    float:left;
    list-style:none;
}

#team_edocco ul li:nth-child(3n):after,
#team_miyacco ul li:nth-child(3n):after{
    clear:both;
    content:'';
    display:block;
}

.penguin_desc span{
    color: red;
    font-size: 1.1rem;
    font-weight: bold;
}

.total_tbl{
    width: 80%;
    margin: 0 auto;
}

#PenguinChart {
    margin: 50px 0;
}

#PenguinChart h2{
    padding: 16px;
    background-color: #dbdbaf;
    text-align: center;

}

#PenguinChart h2.miyacco{
    background-color: #c0c0ec;    
}

@media (max-width: 68em) {
#team_edocco ul li,
#team_miyacco ul li{
    float: none;
    width: 100%;
    height:auto;
}

.total_tbl{
    width: 100%;
    margin: 0 auto;
}

table.total_tbl thead tr th {
    font-size: 0.8rem!important;
}

table.total_tbl tbody tr th {
    font-size: 0.9rem!important;
}
}
/* Penguin-Image End */

/* Custom End */

body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 20%;
        width: 40%;
    }

    #layout.active .menu-link {
        left: 40%;
    }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 1.8em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -20%; /* "#menu" width */
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    /* background: #191818; */
    background: #fafdfd;
    border-right: 1px solid #aaa;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        /* border-top: 1px solid #333; */
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #ddf8f8;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #8dbddc;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #8dbddc;
    background: rgba(141,189,220,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #8dbddc;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 20%; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        margin-left: -20%; /* "#menu" width */
        left: 20%;
    }

    .menu-link {
        position: fixed;
        left: 20%;
        display: none;
    }

    #layout.active .menu-link {
        left: 20%;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 80%;
    }
}
